/* #region global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* #endregion global */

/* #region header */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: grey;
}

header div{
    display: flex;
    margin-top: 20px;
}

header nav ul{
    display: flex;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin: 0 20px;
}

header nav ul li a:hover{
    color: #78CEC8;
}

header button{
    background-color: #78CEC8;
    border: 0;
    border-radius: 10px;
    padding: 15px 45px;
    font-size: 19px;
    color: white;
}

.menu-fixo{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9);
    animation: fadeIn 2s ease-in-out;
    margin: 0 auto;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.menu-fixo a{
    color: black;
}
/* #endregion header */

/* #region banner */
.banner{
    background: url(../img/fundoTopo.webp) fixed center no-repeat;
    height: 90vh;
    filter: brightness(65%);
    display: flex;
}

.banner div{ 
    margin: auto;
    text-align: center;
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 20px;
}

.banner div h2{
    text-transform: uppercase;
    font-size: 40px;
    color: aqua;
}

.banner div a{
    text-decoration: none;
    color: white;
    background-color: #78CEC8;
    border-radius: 10px;
    padding: 10px 15px;
}
/* #endregion banner */

/* #region sobre */
.sobre div{
    display: flex;
    padding: 4em;
}

.sobre div div{
    flex-direction: column;
}

.sobre div div h2{
    font-size: 40px;
    font-weight: bolder;
    text-transform: uppercase;
}

.sobre div div h2 span{
    color: #78CEC8;
}

.sobre div div a{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    background-color: aqua;
    align-self: flex-start;
    border-radius: 10px;
    margin-top: 30px;
}
/* #endregion sobre */

/* #region serviços */

/* #endregion serviços */

/* #region planos */
.planos{
    padding: 4em;
}

.planos h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 5rem;
}

.planos h2 span{
    color: #78CEC8;
}

.planos div{
    display: flex;
    justify-content: space-around;
}

.planos div div{
    flex-direction: column;
    text-align: center;
    width: 350px;
    height: 500px;
    border-radius: 15px;
}

.planos div div:nth-child(1){
    background-color: #C9FCFF;
}

.planos div div:nth-child(2){
    background-color: #4FF4FF;
}

.planos div div:nth-child(3){
    background-color: #28CED9;
}

.planos div div h3{
    font-size: 30px;
    font-weight: bolder;
    margin: 0;
}

.planos div div ul{
    margin: 0;
}

.planos div div ul li{
    margin: 15px 0;
}

.planos div div span{
    font-weight: bold;
    font-size: 25px;
}

.planos div div a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: white;
    align-self: center;
}
/* #endregion planos */