/* #region global */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Poppins', sans-serif; */

body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.site{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
/* #endregion global */

/* #region header */
header{
    margin-top: 20px;
    margin-bottom: 15px;
}

header > .interface{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav ul li a{
    font-size: 16px;
    color: black;
    text-decoration: none;
    display: inline-block;
    transition: all .2;
}

header nav ul li a:hover{
    color: blue;
}

header nav ul{
    list-style-type: none;
}

header nav.menu-desktop li{
    display: inline-block;
    padding: 0 40px;
}

.menu-mobile, .btn-abrir-menu{
    display: none;
}

.btn-login a button{
    padding: 15px 40px;
    background-color: rgb(0, 153, 255);
    border: none;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    transition: all .3s;
}

.btn-login a button:hover{
    background-color: rgb(0, 47, 255);
}
/* #endregion header */

/* #region banner */
.banner{
    background: url(../img/fundoTopo2.png) fixed center no-repeat;
    background-size: cover;
    height: 92.5vh;
    display: flex;
    position: relative;
}

.banner div{
    display: flex;
    align-items: center;
    /* backdrop-filter: blur(10px); */
    padding: 25px;
    border-radius: 20px;
}

.banner div.slogan{
    flex-direction: column;
    text-align: center;
}

.banner div p{
    color: white;
}

.banner div h2{
    text-transform: uppercase;
    font-size: 40px;
    color: aqua;
}

.banner div a{
    text-decoration: none;
    color: white;
    background-color: rgb(0, 153, 255);
    border-radius: 10px;
    padding: 10px 15px;
    transition: all .3s;
}

.banner div a:hover{
    background-color: rgb(0, 47, 255);
}

.banner span{
    font-size: 100px;
    background-color: red;
}

.banner span a i{
    color: white;
}

.banner span i{
    position: absolute;
    left:  47%;
    bottom: 30px;
    animation: flutuar 1.5s ease-in-out infinite alternate;
}


@keyframes flutuar{
    100%{
        bottom: 30px;
    }

    0%{
        bottom: 10px;
    }
}

/* #endregion banner */

/* #region sobre */

.sobre div{
    display: flex;
}

.sobre div div{
    flex-direction: column;
}

.sobre div div h2{
    font-size: 28px;
    font-weight: bolder;
    text-transform: uppercase;
}
/* .sobre div{
    margin-top: 3rem;
    display: flex;
}

.sobre div div{
    flex-direction: column;
}

.sobre div div h2{
    font-size: 28px;
    font-weight: bolder;
    text-transform: uppercase;
}

.sobre div div h2 span{
    color: #78CEC8;
}

.sobre div div p{
    font-size: 18px;
}

.sobre div div img{
    height: 270px;
    width: 500px;
    border-radius: 5px;
}

.sobre div div a{
    background-color: #00ffff;
    border-radius: 10px;
    margin-top: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    align-self: flex-start;
    font-size: 16px;
} */
/* #endregion sobre */


@media screen and (max-width: 1020px){
/* #region responsive header */
.menu-desktop, .btn-contato{
    display: none;
}

/* #endregion responsive header */

/* #region menu mobile */
.btn-abrir-menu i{
    color: black;
    font-size: 40px;
}

.btn-abrir-menu{
    display: block;
    transition: .4s;
}

.btn-abrir-menu:hover{
    transform: rotate(180deg);
}

.menu-mobile ul{
    padding: 0;
}

.menu-mobile{
    display: block;
    background-color: rgb(63, 192, 192);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 100%;
}

.menu-mobile.abrir-menu ~ .overlay-menu{
    display: block;
}

.btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar i{
    color: black;
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: center;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 0;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color:#00ff08 ;
}

.overlay-menu{
    background-color: #000000ab;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

.btn-login{
    display: none;
}

.btn-login-mobile{
    display: flex;
    justify-content: center;
}

.btn-login-mobile a button{
    padding: 15px 40px;
    background-color: rgb(0, 153, 255);
    border: none;
    color: #fff;
    border-radius: 10px;
    font-size: 17px;
}

/* #endregion menu mobile */
}
