
.mapadentista1{
    padding: 0px 0px 80px 0px;
}
.mapadentista2{
    display: none;
}
.mapadentista3{
    display: none;
}

.iframe-rodape{
    display: block;
}
.iframe-rodape1{
    display: none;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}


/* Estilos para dispositivos extra pequenos (XS) */
    @media (max-width: 1200px) {
    /* Estilos específicos para XS */
    .mapadentista1{
        display: none;

    }
}
    @media (max-width: 599px){
        .iframe-rodape{
            display: none;
        }
    }
    @media (max-width: 575px){
        .iframe-rodape1{
            display: block;
        }
    }


